.participate {
    background-color: #463a5c;
    padding: 50px 100px;
}

.participateCont {
    margin: 0 auto;
    max-width: 2000px;
}

.participateCont h1, .participateCont i {
    color: #ffd014;
    margin: 0 auto;
}

.participateCont i {
    margin: 4px auto;
}

.participateGrid {
    margin: 0 auto;
    max-width: 2000px;
    width: 95%;
}