header {
    width: 100%;
    max-width: 2000px;
    height: 120px;
    position: absolute;
    color: #3d4b4e;
    line-height: 55px;
}

header img {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.headLink {
    height: 55px;
    max-width: 400px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 1px 2px 2px 2px #000;
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
}

.headLink > i {
    color: #b02817;
    line-height: 55px;
    padding-left: 10px;
}

.headLink span {
    vertical-align: middle;
    line-height: 55px;
    height: 55px;
    display: inline-block;
    margin-top: -18px;
    padding-left: 5px;
    padding-right: 10px;
}

.linkCont {
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}