.learn {
    padding: 25px 100px 50px;
    background-color: #fff;
}

.learnCont h1, .learn i {
    color: #6c5ea6;
    margin: 0;
}

.learnCont i {
    margin: 3px auto 20px auto;
}

.learnCont {
    max-width: 2000px;
    margin: 0 auto;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0 auto;
    width: 85%;
    grid-gap: 20px;
}

.card {
    width: 70%;
    min-width: 220px;
    background-color: #463a5c;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
    padding: 20px 0;
    box-shadow: 1px 2px 5px 3px #000;
}

.vector {
    height: 125px;
    width: 125px;
    background-color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.vector > i {
    margin: 0 auto;
    color: #b02817;
}

.title {
    font-size: calc(16px + (25 - 16) * ((100vw - 200px) / (2000 - 200)));
    /*1.8em*/
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.desc {
    font-size: calc(14px + (16 - 14) * ((100vw - 200px) / (2000 - 200)));
    /*1.1em*/
    height: 100px;
    line-height: 100px;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.desc > span {
    line-height: calc(14px + (16 - 14) * ((100vw - 200px) / (2000 - 200)));
    vertical-align: middle;
    display: inline-block;
}

.viewSelection {
    width: 80%;
    height: 50px;
    color: #463a5c;
    background-color: #ffd014;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector, .viewSelection {
    margin: 0 auto;
}