.news {
    background-color: #6c5ea6;
    padding: 30px 100px 50px;
}

.newsCont {
    max-width: 2000px;
    margin: 0 auto;
}

.newsCont h1, .newsCont i {
    color: #fff;
    margin: 0 auto;
}

.newsCont i {
    margin: 4px auto;
}

.newsGrid {
    max-width: 2000px;
    width: 95%;
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.shadow {
    box-shadow: 0 1px 2px 2px #000;
    border-radius: 5px;
    max-width: 600px;
}

.articleCont {
    display: grid;
    grid-template: repeat(auto-fill, [col-start] minmax(300px, 1fr) [col-end]) / repeat(auto-fill, [col-start] minmax(400px, 1fr) [col-end]);
    gap: 50px;
    width: 95%;
    height: 100%;
    justify-items: center;
}

.articleCard {
    width: 100%;
    height: 100%;
    min-width: 250px;
    max-width: 500px;
    min-height: 300px;
    border-radius: 10px;
}

.articleCard > div:first-child {
    background: url("https://i.imgur.com/LiDF2IK.png") no-repeat center;
    background-size: 80%;
    height: 65%;
    background-color: #463a5c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.articleCard > div:last-child {
    height: 35%;
    background-color: #fff;
    padding: 0 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.1em;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.articleCard span {
    display: block;
    padding: 1px;
}

.title {
    color: #463a5c;
    font-size: 1.1em;
}

.authors {
    color: #6c5ea6;
}

.title, .authors {
    font-weight: bold;
}

.date, .tags {
    font-size: 0.85em;
}

.tags {
    font-style: italic;
}