.top {
    background-color: #463a5c;
    padding: 50px 100px;
}

.topCont {
    margin-top: 70px;
    color: #fff;
    width: 40%;
    max-width: 600px;
    min-width: 300px;
}

.topCont h1 span {
    color: #ffd014;
    display: block;
}

.topCont h1 span:first-child {
    font-size: min(6.5vw, 1.85em);
}

.topCont h1 span:last-child {
    font-size: min(4.8vw, 1.36em);
}

hr {
    background-color: #fff;
    height: 2px;
}

.subtitle {
    margin: 30px auto 25px auto;
    font-size: 1.7em;
}

.mainLink div {
    font-weight: bold;
    height: 55px;
    padding: 0 10px 0 10px;
    border-radius: 80px;
    box-shadow: 1px 2px 2px 2px #000;
    display: inline-block;
    text-align: center;
}

.mainLink div:first-child {
    background-color: #6c5ea6;
    margin-right: 10px;
}

.mainLink div:last-child {
    background-color: #6b8085;
    padding-right: 10px;
}

.mainLink div span {
    font-size: 1.2em;
    line-height: 55px;
    vertical-align: middle;
}

.mainLink i {
    line-height: 55px;
    vertical-align: middle;
}