.top {
    background-color: #463a5c;
    padding: 50px 100px;
}

.topCont {
    margin: 0 auto;
    max-width: 2000px;
}

.info {
    margin-top: 70px;
    color: #fff;
    width: 35%;
    max-width: 600px;
    min-width: 300px;
}

.info h1 span {
    color: #ffd014;
    display: block;
    text-align: center;
}

.info h1 span:first-child {
    font-size: calc(32.5px + (120 - 30) * ((100vw - 300px) / (2000 - 300)));
}

.info h1 span:last-child {
    font-size: calc(20px + (90 - 20) * ((100vw - 300px) / (2000 - 300)));
}

hr {
    background-color: #fff;
    height: 2px;
    width: 100%;
}

.subtitle {
    margin: 30px auto 25px auto;
    font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (2000 - 300)));
    width: 95%;
}

.mainLink div {
    font-weight: bold;
    height: 55px;
    padding: 0 10px 0 10px;
    border-radius: 80px;
    box-shadow: 1px 2px 2px 2px #000;
    display: inline-block;
    text-align: center;
}

.mainLink div:first-child {
    background-color: #6c5ea6;
    margin-right: 10px;
}

.mainLink div:last-child {
    background-color: #6b8085;
    padding-right: 10px;
}

.mainLink div span {
    font-size: 1.2em;
    line-height: 55px;
    vertical-align: middle;
}

.mainLink i {
    line-height: 55px;
    vertical-align: middle;
}